@charset "utf8";
    /* Styles for the index.html 

    Gabriel Hernandez
    1/23/19

    */

body {
    display: block;
    min-width: 320px;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgb(78, 135, 249), white);
    font-size: 18px;
}

header > img {
    width: 100%
}

form {
    display: block;
    float: left;
    width: 100%;
}

form > fieldset {
    border: 3px solid black;
    border-radius: 15px;
}

form > fieldset.custInfo{
    display: block;
    float: left;
    width: 45%;
    margin: 5px;
    height: 325px;

}

form > fieldset.options {

    display: block;
    float: right;
    width: 45%;
    margin: 5px;
    height: 325px;

}

form > fieldset.additional {
    display: block;
    clear: both;
    height: 20%;
}

div.button {
    display: block;
    clear: both;
}
